@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-hover: #b21e23;
  --clr-btn-submit: #37af65;
  --clr-span: #6a6a6a;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'serif';
  background-color: black;
  text-align: center;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--clr-hover);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
label,
main {
  color: white;
}

figcaption {
  text-align: center;
  width: 50vw;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  gap: 20vh;
  list-style-type: none;
  padding: 0;
}

.no-padding-no-margin {
  padding: 0;
  margin: 0;
}

.spanner {
  font-size: 13px;
  color: var(--clr-span);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-wrapper-contact {
  margin-top: 25px;
}

.dash {
  content: '';
  border: 1px solid var(--clr-hover);
  width: 50px;
}

.long-dash {
  content: '';
  border: 1px solid var(--clr-hover);
  width: 250px;
}
.wrapper,
.heading,
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 5rem;
  background: linear-gradient(#333, #1a1a1a);
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 30vw;
  margin-top: 25px;
}

.form-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  width: 100%;
  font-family: inherit;
}

.textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.6rem;
  resize: vertical;
  font-family: inherit;
}

.submit-button {
  border: none;
  background-color: var(--clr-btn-submit);
  transition: 0.3s ease-in-out;
  color: white;
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--clr-hover);
}
