* {
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #b21e23;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
label,
main {
  color: white;
}

figcaption {
  text-align: center;
  width: 50vw;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  gap: 20vh;
  list-style-type: none;
  padding: 0;
}

.no-padding-no-margin {
  padding: 0;
  margin: 0;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-wrapper-contact {
  margin-top: 25px;
}

.dash {
  content: "";
  border: 1px solid #b21e23;
  width: 50px;
}

.long-dash {
  content: "";
  border: 1px solid #b21e23;
  width: 250px;
}
.wrapper,
.heading,
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 30vw;
  margin-top: 25px;
}

.form-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  width: 100%;
}

.textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.6rem;
  resize: vertical;
}

.submit-button {
  border: none;
  background-color: #37af65;
  transition: 0.3s ease-in-out;
  color: white;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #b21e23;
}
